.change__password {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form__container {
  width: 380px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  box-shadow: 2px 4px 8px gray;
}

.form__container .form-label {
  font-size: 15px !important;
}

.form__container input {
  padding: 3px 10px !important;
  box-shadow: none !important;
  border-radius: 20px !important;
}
.form__container.form-text {
  font-size: 12px;
}

::placeholder {
  color: #7e858a !important;
  font-size: 13px;
}
.btn {
  box-shadow: none;
}

@media (max-width: 510px) {
  .form__container {
    width: 310px;
  }
}
