/* main navbar styling start */
.navbar {
  padding: 0 !important;
  height: 60px;
  background-color: white;
  box-shadow: 3px 4px 6px -4px #313b47;
  transition: all 1s ease;
}
.fix {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.nav__left {
  display: flex;
  align-items: center;
}
.triger {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #e1e7ec;
  margin-right: 10px;
  cursor: pointer;
  color: #374250;
  transition: all 200ms ease-in;
}

.triger:hover {
  color: #0da9ef;
}

.nav__left .logo__dealStore {
  font-size: 16px;
  color: #313b47;
  display: flex;
  align-items: center;
}
.nav__left .logo__dealStore > .logo__icon {
  font-size: 18px;
  font-weight: 800;
  color: #0da9ef;
  padding: 4px;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 4px 6px 8px #e1e7ec;
}

/* right side nav styling cart, user and search  */

.nav__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}

.nav__right .add__cart,
.nav__right .user__avator,
.nav__right .search__bar {
  margin-right: 10px;
  font-size: 18px;
  border: 1px solid #e1e7ec;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: #606975;
  transition: all 180ms ease-in;
}

.MuiBadge-badge {
  background-color: #0da9ef !important;
  font-size: 12px !important;
  color: #e1e7ec;
}

.nav__right .add__cart:hover,
.nav__right .user__avator:hover,
.nav__right .search__bar:hover {
  background-color: #f5f5f5;
}

.nav__right .search__box input {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: none;
  padding: 10px 45px 10px 25px;
  outline: 0 !important;
  font-style: italic;
  letter-spacing: 0.13rem;
  font-size: 15px;
  color: #171717 !important;
  z-index: 999;
}

.nav__right ::placeholder {
  color: #171717 !important;
}

.nav__right .close__icon {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  z-index: 1000;
  cursor: pointer;
  padding: 2px;
  color: #171717;
}

/* drowpdow menu start  */

/* add to cart start  */

.nav__right .add__cart {
  position: relative;
}
.nav__right .add__cart .dropdown__cart {
  position: absolute;
  top: 30px;
  right: -10px;
  background-color: transparent;
  width: 230px;
  z-index: 99;
  cursor: default;
  padding: 18px 0;
  opacity: 0;
  visibility: hidden;
  transition: all 220ms ease-in;
}
.nav__right .add__cart:hover .dropdown__cart {
  opacity: 1;
  visibility: visible;
}

/* user account styling */
.nav__right .user__avator {
  position: relative;
}

.nav__right .user__avator .sign__body {
  position: absolute;
  width: 170px;
  height: auto;
  background-color: transparent;
  top: 30px;
  right: -10px;
  z-index: 9;
  padding: 18px 0;
  opacity: 0;
  visibility: hidden;
  transition: all 220ms ease-in;
  cursor: default;
}

.nav__right .user__avator .sign__inner {
  padding: 15px 0px;
  background-color: #313b47;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 2px 2px 6px #606975;
}
.nav__right .user__avator a {
  font-size: 13px;
}
.nav__right .user__avator p {
  font-size: 13px;
  margin-right: 8px;
  margin-top: 10px;
}
.nav__right .user__avator .btn-default {
  padding: 5px 12px !important;
  background-color: #0da9ef;
  color: #fff;
}
.nav__right .user__avator .btn-default:hover {
  background-color: #0c9de0;
}

.nav__right .user__avator:hover .sign__body {
  opacity: 1;
  visibility: visible;
}

/* add to card styling */

/* drowpdow menu end  */

/* sidebar menu items styling start  */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 290px;
  padding: 0;
  z-index: 999;
  transition: all 230ms ease;
}
.open {
  left: 0;
}

.user__acount {
  height: 60px;
}
.sidebar__item {
  background-color: #374250;
  height: 100%;
}

/* close icon  sidebar */

.close {
  position: absolute;
  right: -25px;
  top: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* CLOSE USING LAYOUT */

.overlay__body {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  left: -100%;
  background-color: #606975;
  z-index: 1;
  transition: 0.2s ease-in;
  opacity: 0.4;
  cursor: pointer;
}
.overlay__body.show {
  left: 0;
}

.user__acount {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  color: #e1e7ec;
  padding-left: 20px;
  font-weight: 700;
  background-color: #313b47;
  border-bottom: 1px solid #606975;
  cursor: pointer;
}

.nav-item {
  display: flex !important;
  justify-content: space-between;
  width: 290px;
  align-items: center;
  border-bottom: 1px solid #606975;
  padding-left: 20px;
}
.nav-link {
  padding: 16px 0;
  width: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #e1e7ec;
  font-size: 14px;
  font-weight: 500;
  transition: 250ms ease-in;
}
.nav-link:hover {
  color: #0da9ef;
}
.arrow-link {
  height: 100%;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e1e7ec;
  border-left: 1px solid #606975;
  transition: 250ms ease-in;
  padding: 14.7px 0;
  cursor: pointer;
}
.arrow-link:hover {
  background-color: #606975;
}
.back_icon {
  margin-right: 8px;
  font-size: 20px !important;
}
